* {
    box-sizing: border-box;
    
}
.Main{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 200px;
}
.Plansza {
    
    display: grid;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3,100px);
    grid-gap: 10px;
    text-align: justify;
    font-size: 40px;
    padding: 10px;
    
  }
  
.pole{
    background-color: rgb(214, 192, 192);
    width: 100px;
    height: 100px;
    border-radius: 4px;
    text-align: center;
    
     border: 4px solid rgb(133, 132, 132);
}

.pole--X::after {
    font-size: 80px;
    color: blue;
    content: "X";
    
    
}
.pole--O::after {
    font-size: 80px;
    color: rgb(0, 255, 128);
    content: "O";
    
}
button#start {
    font-size:15px;
    width:100px;
    height:50px;
    border-width:1px;
    color:#ffffff;
    border-color:#74b807;
    font-weight:bold;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
    box-shadow:inset 0px 1px 0px 0px #a4e271;
    text-shadow:inset 0px 1px 0px #528009;
    background:#77a809;
  }
  
  button#start:hover {
    background:#2a3a03;
  }
button#reset {
    font-size:15px;
    width:100px;
    height:50px;
    border-width:1px;
    color:#ffffff;
    border-color:#d83526;
    font-weight:bold;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
    box-shadow:inset 0px 1px 0px 0px #f29c93;
    text-shadow:inset 0px 1px 0px #b23e35;
    background: #ce0100;
  }
  
  button#reset:hover  {
    background: #500d06;
  }
       